

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

.bg-light {
  background-color: white !important;
}

.nombre-sitio {
  font-weight: 300;
  font-size: 2.4rem;
}

.nombre-sitio span {
  font-weight: 900;
}

.navbar-toggler {
  background-color: white !important;
  margin: 0 auto;
}

.header {
  height: auto;
  width: 100%;
  background-image: url(../mg/fondo.jpg);
  background-size: cover;
  background-position: bottom center;
}

.nav-link {
  color: white !important;
  background-color: #111;
}

.nav-link:hover {
  background-color: rgb(216, 216, 216);
}

/*@media (min-width:992px) {
    .header .nav-link:first-child::before {
        display: none;
    }
    .header .nav-link::before {
        content: '|';
        margin-right: 1rem;
    }
}*/

.telefono::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-image: url(../mg/icono_telefono.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.contenido p{

color:rgb(216, 216, 216);
font-family: 'Courier New', Courier, monospace;
font-size: 18px;

}

/*CARDS*/

img {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

h5,
p {

    color: #111;



}
